*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
}

#main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);   
}

header{
    width: 46%;
    background-color: white;
    padding: 2% 4% 3% 3%;
    border-radius: 7px 7px 0 0;
}

h1{
    color: hsl(179, 62%, 43%);
    padding: 3% 0 2% 0;
    font-size: 22px;
}

.alert-text{
    color: hsl(71, 73%, 54%);
    padding: 2% 0;
    font-weight: 700;
}

header>p{
    color: hsl(218, 22%, 67%);
    line-height: 1.4;
    font-size: 16px;
}

.main-card{
    display: flex;
    width: 46%;
    border-radius: 0 0 7px 7px;
    color: white;
}

li{
    list-style: none;
    padding: 1% 0;
    color: rgba(255, 255, 255, 0.7);
}

.subscription-plan, .why-us{
    padding: 5% 2%;
    flex-grow: 1;
    padding-left: 6%;
    padding-right: 8%;
}

.subscription-plan{
    background-color: hsla(179, 62%, 43%, 1);
    border-bottom-left-radius: 7px;
}

.why-us{
    background-color: hsla(179, 62%, 43%, 0.8);
    border-bottom-right-radius: 7px;
}

h2{
    padding-bottom: 6%;
    font-size: 18px;
}

.amount{
    font-size: 28px;
    font-weight: 700;
    vertical-align:middle;
    margin-right: 3%;
}

.monthly-bill{
    padding-bottom: 5%;
}

.fade{
    color: rgba(255, 255, 255, 0.5)
}

input[type="submit"]{
    margin-top: 22%;
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 6%;
    width: 100%;
    color: white;
    font-weight: 700;
}

@media (max-width: 768px){
    .main-card, header{
        width: 70%;
    }
}

@media (max-width: 425px){
    .main-card, header{
        flex-direction: column;
        width: 90%;
    }

    .subscription-plan{
        border-bottom-left-radius: 0;
    }

    .why-us{
        border-bottom-left-radius: 7px;
    }

    input[type="submit"]{
        margin-top: 7%;
    }

    header{
        padding: 5%;
    }
}
